@font-face {
    font-family: 'artill_clean_weather_iconsRg';
    src: url('fonts/artill_clean_icons-webfont.eot');
    src: url('fonts/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/artill_clean_icons-webfont.woff') format('woff'),
         url('fonts/artill_clean_icons-webfont.ttf') format('truetype'),
         url('fonts/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  background: #F3F3F3;
  color: #313131;
  font-family: "Helvetica Neue", "Helvetica", "Arial", Sans-serif;
  font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h2 {
  font-weight: 100;
  margin-bottom: 20px;
}

h3 {
  &.big {
    font-size: 3em;
   span {
      font-size: 0.8em;
      vertical-align: text-top;
    }
  }
}

header {
  overflow: hidden;
  text-align: center;
  background: #FFF;
  img {
    width: 130px;
  }
}

.container {
  width: 960px;
  text-align: center;
  margin: 20px auto;
}

.bucket {
  display: inline-block;
  text-align: center;
  min-width: 200px;
  font-size: 1.4em;
  color: #FFF;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 0px 7px #D6D6D6;
  box-shadow: 0px 0px 7px #D6D6D6;
  overflow: hidden;
  margin: 0 20px;
  .big {
    &:after {
      font-family: "artill_clean_weather_iconsRg";
      font-size: 1.5em;
      padding-left: 5px;
    }
  }
  &.hottest {
    background: #DD691A;
    .big:after {
      content: "\0031";
    }
  }
  &.coldest {
    background: #9C9C9C;
    .big:after {
      content: "\0049";
    }
  }
  &.rain {
    background: #2A84D2;
    .big:after {
      content: "\0047";
    }
  }
  h3, p {
    padding: 15px;
  }
  p {
    background: #FFF;
    color: #313131;
  }
}

#form {
  background: #414141;
  padding: 10px;
  color: #FFF;
  border: 1px solid #FFF;
  border-left: none;
  border-right: none;
}

form {
  p {
    display: inline;
  }
  .select {
    select {
      cursor: pointer;
      background: transparent;
      border: none;
      padding: 10px;
      appearance: none;
      -webkit-appearance: none;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      &:focus {
        outline: none;
        border-color: none;
        background: none;
      }
    }
    &:after {
      font-family: 'FontAwesome';
      content: "\f0d7";
      padding-left: 10px;
    }
  }

  input, textarea, .select, .time label {
    display: initial;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #DDD;
    padding: 5px;
    margin: 0 5px;
    color: #313131;
    width: 100px;
    &:focus {
      outline: none;
      border-color: #AAA;
      background: #FAFAFA;
    }
  }

  input[type="radio"] {
    width: 0px;
    height: 0px;
    display: none;
  }
  .time { 
    display: initial;
    margin: 0 10px;
    label {
      display: inline-box;
      vertical-align: middle;
      *vertical-align: auto;
      cursor: pointer;
      margin-right: -5px;
      padding-left: 10px;
      padding-right: 10px;
      &:hover {
        background: lighten(#2A84D2, 20%);
        color: #FFF;
      }
      &:disabled {
        cursor: default;
        color: #b2b2b2;
        border-color: #cccccc;
        box-shadow: none;
      }
    }
    input:checked + label, .segmented-button label.selected {
      background: #2A84D2;
      color: #FFF;
    }
    input:disabled + label {
      background: #DDD;
      cursor: default;
      color: #b2b2b2;
      border-color: #cccccc;
    }
  }
}
